@tailwind base;
@tailwind components;
@tailwind utilities;
/* global.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Hanalei&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Hanalei&family=Indie+Flower&family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Hanalei&family=Indie+Flower&family=Lilita+One&family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

.font-jacquard {
  font-family: "Jacquard 12", cursive;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .pause {
    animation-play-state: paused;
  }

  .custom-bg {
    @apply bg-background/20 border border-accent/30 border-solid backdrop-blur-[6px] shadow-glass-inset hover:shadow-glass-sm;
  }

  .bg-background\/20 {
    background-color: rgba(0, 0, 0, 0.2); /* Example background color */
  }
  .border-accent\/30 {
    border-color: aqua; /* Set border color to aqua */
    border-radius: 30px;
  }
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}
input{
	width: 200px;
	height: 30px;
	margin: 10px;
	border:1px solid white;
	border-radius:5px;
	/*box-shadow:5px 5px 5px #6ca0a1;*/
	color: #ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	padding: 5px;
	background-color: #171919;
	text-decoration-color: #29FD53;
	
}
input::placeholder {
  color: #2dea30; /* Change to your desired color */
}
textarea::placeholder {
  color: #2dea30; /* Change to your desired color */
  text-align: center;
}
.font-multiple {
  font-family: 'Caveat', 'Hanalei', 'Indie Flower', cursive;
}
.mt2{
  font-family: 'Caveat', cursive;
font-family: 'Hanalei', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Noto Sans KR', sans-serif;
}
.proim img{
  border:10px solid rgb(255, 255, 255);
display:block;
justify-content: center;
align-items: center;
border-radius:100%;
animation:flImg 4s ease-in-out infinite;
}
@keyframes flImg{
	 
  0%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(-2rem);
  }
  100%{
    transform:translateY(0);
  }
}
@keyframes fli{
	 
  0%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(-.5rem);
  }
  100%{
    transform:translateY(0);
  }
}
.ab{
	background-size:cover;
	height:100vh;
	display:flex;
	align-items:center;
	color:white;
  overflow: hidden;
}
.ab .ban{
	padding:25px;
	background-color:#006D32;
	width:252px;
	box-shadow:5px 5px 5px #6ca0a1;
	border-radius:10px;
    border:1px solid white;
	position:absolute;
	margin-left:150PX;
  margin-top: 0px;
	
	
}

.ab .maitx{
	padding:auto;
	position:relative;
	left:100px;
	width:650px;
	z-index:0;
}
.ab .maitx .dow{
	text-decoration:none;
	margin:15px;
	width:120px;
	height:30px;
	line-height:30px;
	border:1px solid white;
	border-radius:10px;
	box-shadow:3px 3px 5px #6ca0a1;
	transition:.5s;
	justify-content:center;
	align-items:center;
	background-color:#29FD53;
	
}
.ab .maitx .dow a{
	text-decoration:none;
	font-family:'Caveat', cursive;
	font-size:15px;
	padding:0 5px 5px;
	margin:0 0 0 2px;
	color:white;
	
}
.ab .maitx .dow a i{
	margin-left:8px;
    animation:fli 2s ease-in-out infinite;
	color:black;
	
}
@keyframes fli{
	 
	 0%{
		 transform:translateY(0);
	 }
	 50%{
		 transform:translateY(-.5rem);
	 }
	 100%{
		 transform:translateY(0);
	 }
 }

.ab .maitx .dow:hover{
	background-color:aqua;
	color:white;
}
.ab .maitx .dow a:hover{
	color:white;
}
 .ab .ban .proim{
	 margin:25px;
   font-family:'Roboto Mono';
 }
 .ab .ban .proim img{
    border:10px solid white;
	display:block;
	border-radius:100%;
	animation:flImg 4s ease-in-out infinite;
 }
 .ab .ban h2{
  font-size:16px;
  font-weight:normal;
  margin-bottom:10px;
}

.ab .ban h6{
  color:#6ca0a1;
  font-weight:normal;
  font-family:'Roboto Mono';
  
}
.ab .ban p{
  max-width:none;
  text-align:center;
  color:aqua;
  margin-top:8px;
  font-family:'Roboto Mono';
}
.ab .ban .soci{
  margin:0 35px 0 35px;
}
.ab .ban .soci a{
  color:#0D1117;
  display:inline-block;
  border:1px solid white;
  width:25px;
  height:25px;
  line-height:25px;
  border-radius:100%;
  text-decoration:none;
 font-size:15px;
 margin-top:15px;
   padding:0 5px 0 5px;
 transition:.5s;
}

.ab .ban .soci a:hover{
  background:#242424;
  color:aqua;
}
.ab .maitx h3{
 padding-bottom:10px;
 font-size:1.2rem;
 font-family: 'Caveat', cursive;
font-family: 'Hanalei', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Noto Sans KR', sans-serif;

}

.ab .maitx h3 .mt2{
color:#74E1DB;
font-size:2rem;
}
.ab .maitx h1{
 font-size:1.3rem;
 font-family:'Caveat', cursive;
 margin-bottom:10px;
 color:#29FD53;
}
 
.ab .maitx h2{
   font-family: 'Caveat', cursive;
   font-family: 'Hanalei', cursive;
   font-family: 'Indie Flower', cursive;
 font-size:3rem;
 margin-bottom:10px;
 color:#3498DB;

}